[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/permitpost"]
	path = lib/permitpost
	url = git@github.com:Uniswap/permitpost.git
[submodule "lib/swap-router-contracts"]
	path = lib/swap-router-contracts
	url = https://github.com/uniswap/swap-router-contracts
